.navigation{
    width: 100%;
    height: 50px;

    border-bottom: 1px solid #d9d9d9;

    &__menu{
        display:flex;
        align-items: center;
        justify-content: center;

        list-style: none;
        height: 100%;
        gap:10%;

    }
    &__link{
        text-decoration: none;
        color:#667085;
        &:hover {
            background-color: red;
        };
        &:active,
        &:visited {
        text-decoration: none;
        color:#667085;        
        }
    }
}