.header {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    width: 100%;
    height: 56px;

    padding: 0 16px;
    &__setting{
        position:fixed;
        top:10px;
        right:10px;
        width:30px;
        height:30px;
    }
}