.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; 
    overflow: hidden;

    width: 100%;
    height: 100vh;

    &__imageBox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;

        flex-wrap: wrap;

        padding: 16px 24px;

        gap: 16px;

    }
}