.footer{
    position: fixed; 
    bottom: 0; 
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;

    &__output{
        float: right;
        width: 50%;
    }
    &__output table{
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    &__btn{
        display:flex;
        gap:5px;
        flex-direction: row;
        width:25%;
        justify-content: flex-end;
    }
    &__btn button{
        bottom:0;
        min-height: 65px;     
        min-width: 100%;
        font-size: 20px;      
        font-weight: bold;    
        border-radius: 8px; 

    }
}